
body {

    background-color: greenyellow;
}
main {
    margin: 0px auto;
    width: 960px;
}

h3 {
    height: 50px;
   text-align: center;
   padding-top: 20px;
   border-radius:10px;
    background-color: aqua;
    border: 2px solid blue;
}
#grid {
    display: grid;
    position: relative;
    grid-template-rows: 33% 33% 33%;
    grid-template-rows: 100%;
}


#left-image, #center-image, #right-image {
    width: 310px;
    height: 310px;
    border: 2px solid goldenrod;
    
}
/* #footer {
    height: 30px;
} */

#footer-content {
    width: 100%;
    background-color: aqua;
    border: 2px solid blue;
    height: 50px;
    padding-top: 20px;
    text-align: center; 
    border-radius:10px;
    font-size: 28px;
}

#result-button {
    background-color: aqua;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius:10px;
    text-decoration: none;
}